A_B Testing Agent.json
{
  "name": "A/B Testing Agent",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ab-testing-agent",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "b4d8d530-461d-45ce-8628-e92a504a06b7",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1632,
        -160
      ],
      "webhookId": "ab-testing-webhook"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "test_id",
              "name": "test_id",
              "value": "={{ $json.body.test_id }}",
              "type": "string"
            },
            {
              "id": "action",
              "name": "action",
              "value": "={{ $json.body.action }}",
              "type": "string"
            },
            {
              "id": "campaign_id",
              "name": "campaign_id",
              "value": "={{ $json.body.campaign_id }}",
              "type": "string"
            },
            {
              "id": "variant_a",
              "name": "variant_a",
              "value": "={{ $json.body.variant_a }}",
              "type": "string"
            },
            {
              "id": "variant_b",
              "name": "variant_b",
              "value": "={{ $json.body.variant_b }}",
              "type": "string"
            },
            {
              "id": "test_metric",
              "name": "test_metric",
              "value": "={{ $json.body.test_metric }}",
              "type": "string"
            },
            {
              "id": "org_id",
              "name": "org_id",
              "value": "={{ $json.body.org_id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "60b1acd7-3855-4cda-a145-9d712bb0aec1",
      "name": "Extract Input",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1424,
        -160
      ]
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ $json.action }}",
        "rules": {
          "rules": [
            {
              "value2": "create_test"
            },
            {
              "value2": "analyze_results",
              "output": 1
            },
            {
              "value2": "declare_winner",
              "output": 2
            },
            {
              "value2": "update_stats",
              "output": 3
            }
          ]
        }
      },
      "id": "f9ee44f6-4396-4ad5-b188-9eaabadfe387",
      "name": "Route by Action",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        -1232,
        -160
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-pro:generateContent",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"contents\": [{\n    \"parts\": [{\n      \"text\": \"You are an A/B testing expert. Create a comprehensive A/B test plan for these variants:\\n\\nVariant A:\\n{{ $json.variant_a }}\\n\\nVariant B:\\n{{ $json.variant_b }}\\n\\nTest Metric: {{ $json.test_metric }}\\n\\nProvide:\\n1. Test Hypothesis (what we expect to learn)\\n2. Success Criteria (what makes a variant winner)\\n3. Minimum Sample Size (leads needed per variant)\\n4. Expected Test Duration (days)\\n5. Key Differences to track\\n6. Potential Confounding Variables\\n7. Statistical Significance Threshold\\n\\nFormat as JSON:\\n{\\n  \\\"hypothesis\\\": \\\"...\\\",\\n  \\\"success_criteria\\\": \\\"...\\\",\\n  \\\"min_sample_size\\\": 100,\\n  \\\"expected_duration_days\\\": 7,\\n  \\\"key_differences\\\": [\\\"...\\\"],\\n  \\\"confounding_variables\\\": [\\\"...\\\"],\\n  \\\"significance_threshold\\\": 0.05\\n}\"\n    }]\n  }],\n  \"generationConfig\": {\n    \"temperature\": 0.4,\n    \"maxOutputTokens\": 1000\n  }\n}",
        "options": {}
      },
      "id": "c16f045c-ce17-432b-b67e-7c1fe3be32cc",
      "name": "Gemini - Create Test Plan",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1024,
        -352
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "DC5kST1lpGkTCgFC",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const inputData = $('Extract Input').first().json;\nconst geminiResponse = $json.candidates[0].content.parts[0].text;\n\nlet testPlan = {};\ntry {\n  const jsonMatch = geminiResponse.match(/\\{[\\s\\S]*\\}/);\n  if (jsonMatch) {\n    testPlan = JSON.parse(jsonMatch[0]);\n  }\n} catch (e) {\n  testPlan = {\n    hypothesis: 'Test variant performance',\n    success_criteria: 'Statistically significant improvement',\n    min_sample_size: 100,\n    expected_duration_days: 7,\n    key_differences: [],\n    confounding_variables: [],\n    significance_threshold: 0.05\n  };\n}\n\nconst test_id = inputData.test_id || 'ab_test_' + Date.now();\n\nreturn {\n  test_id: test_id,\n  org_id: inputData.org_id,\n  campaign_id: inputData.campaign_id,\n  variant_a: inputData.variant_a,\n  variant_b: inputData.variant_b,\n  test_metric: inputData.test_metric,\n  test_plan: testPlan,\n  status: 'running',\n  started_at: new Date().toISOString(),\n  variant_a_stats: { sends: 0, opens: 0, clicks: 0, replies: 0, conversions: 0 },\n  variant_b_stats: { sends: 0, opens: 0, clicks: 0, replies: 0, conversions: 0 }\n};"
      },
      "id": "cc9ce4d0-739b-4359-a7c3-5db5c8fe9699",
      "name": "Create Test Record",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -832,
        -352
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO ab_tests (id, org_id, campaign_id, variant_a, variant_b, test_metric, test_plan, status, started_at, variant_a_stats, variant_b_stats) VALUES ('{{ $json.test_id }}', '{{ $json.org_id }}', '{{ $json.campaign_id }}', '{{ $json.variant_a }}', '{{ $json.variant_b }}', '{{ $json.test_metric }}', '{{ JSON.stringify($json.test_plan) }}', '{{ $json.status }}', '{{ $json.started_at }}', '{{ JSON.stringify($json.variant_a_stats) }}', '{{ JSON.stringify($json.variant_b_stats) }}') ON CONFLICT (id) DO UPDATE SET variant_a = EXCLUDED.variant_a, variant_b = EXCLUDED.variant_b, test_metric = EXCLUDED.test_metric, test_plan = EXCLUDED.test_plan, status = EXCLUDED.status, updated_at = NOW()",
        "options": {}
      },
      "id": "1a0750cb-ac5f-4e3c-8e6a-31b3b6c0eedf",
      "name": "Save Test to DB",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        -624,
        -352
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM ab_tests WHERE id = '{{ $json.test_id }}' AND org_id = '{{ $json.org_id }}'",
        "options": {}
      },
      "id": "8781a759-47c3-4a23-8146-6475946360cb",
      "name": "Fetch Test Data",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        -1024,
        -160
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-pro:generateContent",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"contents\": [{\n    \"parts\": [{\n      \"text\": \"You are a statistical analyst. Analyze this A/B test results:\\n\\n{{ JSON.stringify($json, null, 2) }}\\n\\nPerform:\\n1. Calculate conversion rates for each variant\\n2. Determine statistical significance (use Z-test for proportions)\\n3. Calculate confidence intervals\\n4. Determine if sample size is sufficient\\n5. Identify which variant is performing better\\n6. Calculate lift/improvement percentage\\n7. Recommend whether to continue, stop, or declare winner\\n\\nFormat as JSON:\\n{\\n  \\\"variant_a_rate\\\": 0.15,\\n  \\\"variant_b_rate\\\": 0.18,\\n  \\\"p_value\\\": 0.03,\\n  \\\"is_significant\\\": true,\\n  \\\"confidence_interval_a\\\": [0.13, 0.17],\\n  \\\"confidence_interval_b\\\": [0.16, 0.20],\\n  \\\"sufficient_sample\\\": true,\\n  \\\"better_variant\\\": \\\"B\\\",\\n  \\\"lift_percentage\\\": 20.0,\\n  \\\"recommendation\\\": \\\"declare_winner\\\",\\n  \\\"reasoning\\\": \\\"...\\\"\\n}\"\n    }]\n  }],\n  \"generationConfig\": {\n    \"temperature\": 0.2,\n    \"maxOutputTokens\": 1000\n  }\n}",
        "options": {}
      },
      "id": "7e96d5f4-dce4-4099-af70-212dd081674b",
      "name": "Gemini - Statistical Analysis",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -832,
        -160
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "DC5kST1lpGkTCgFC",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const testData = $('Fetch Test Data').first().json;\nconst geminiResponse = $json.candidates[0].content.parts[0].text;\n\nlet analysis = {};\ntry {\n  const jsonMatch = geminiResponse.match(/\\{[\\s\\S]*\\}/);\n  if (jsonMatch) {\n    analysis = JSON.parse(jsonMatch[0]);\n  }\n} catch (e) {\n  analysis = {\n    variant_a_rate: 0,\n    variant_b_rate: 0,\n    p_value: 1,\n    is_significant: false,\n    sufficient_sample: false,\n    better_variant: 'none',\n    lift_percentage: 0,\n    recommendation: 'continue_test',\n    reasoning: 'Unable to analyze'\n  };\n}\n\nreturn {\n  test_id: testData.id,\n  org_id: testData.org_id,\n  campaign_id: testData.campaign_id,\n  analysis: analysis,\n  analyzed_at: new Date().toISOString(),\n  test_status: testData.status\n};"
      },
      "id": "fedc5d48-6a47-48a3-a2cd-5b87aa6b00cc",
      "name": "Process Analysis",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -624,
        -160
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE ab_tests SET statistical_result = '{{ JSON.stringify($json.analysis) }}', updated_at = NOW() WHERE id = '{{ $json.test_id }}' AND org_id = '{{ $json.org_id }}'",
        "options": {}
      },
      "id": "9041b87d-bb16-4c87-a6c2-c988e3c69798",
      "name": "Update Test Analysis",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        -432,
        -160
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM ab_tests WHERE id = '{{ $json.test_id }}' AND org_id = '{{ $json.org_id }}'",
        "options": {}
      },
      "id": "cea7e2a5-f417-441f-936a-5237e81ff203",
      "name": "Fetch Test for Winner",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        -1024,
        48
      ],
      "credentials": {
        "postgres": {
          "id": "Avhle7znaBd9F3wl",
          "name": "Postgres account 3"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const testData = $json;\nconst analysis = testData.statistical_result;\n\nconst minSample = testData.test_plan?.min_sample_size || 100;\nconst totalSends = testData.variant_a_stats.sends + testData.variant_b_stats.sends;\n\nif (totalSends < minSample) {\n  return {\n    test_id: testData.id,\n    org_id: testData.org_id,\n    error: 'Insufficient sample size: ' + totalSends + '/' + minSample,\n    can_declare: false,\n    recommendation: 'continue_test'\n  };\n}\n\nif (!analysis || !analysis.is_significant) {\n  return {\n    test_id: testData.id,\n    org_id: testData.org_id,\n    error: 'Cannot declare winner - results not statistically significant',\n    can_declare: false,\n    p_value: analysis?.p_value\n  };\n}\n\nconst winner = analysis.better_variant;\nconst winnerData = winner === 'A' ? testData.variant_a : testData.variant_b;\n\nreturn {\n  test_id: testData.id,\n  org_id: testData.org_id,\n  campaign_id: testData.campaign_id,\n  winner: winner,\n  winner_data: winnerData,\n  loser: winner === 'A' ? 'B' : 'A',\n  lift_percentage: analysis.lift_percentage,\n  p_value: analysis.p_value,\n  can_declare: true,\n  ended_at: new Date().toISOString()\n};"
      },
      "id": "d72d207b-59e5-4668-8e66-89fb6c5579a2",
      "name": "Declare Winner Logic",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -832,
        48
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE ab_tests SET status = 'completed', winner = '{{ $json.winner }}', ended_at = '{{ $json.ended_at }}', updated_at = NOW() WHERE id = '{{ $json.test_id }}' AND org_id = '{{ $json.org_id }}'",
        "options": {}
      },
      "id": "a83bca3d-d2a7-40b8-abba-ecc2d9c74044",
      "name": "Update Winner in DB",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        -624,
        48
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "{{ $env.BACKEND_API_URL }}/api/campaigns/{{ $json.campaign_id }}/apply-winner",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"test_id\": \"{{ $json.test_id }}\",\n  \"org_id\": \"{{ $json.org_id }}\",\n  \"winner\": \"{{ $json.winner }}\",\n  \"winner_data\": \"{{ $json.winner_data }}\",\n  \"lift_percentage\": {{ $json.lift_percentage }}\n}",
        "options": {}
      },
      "id": "b4dd3ea4-802a-4f5d-abc0-403dd739bba6",
      "name": "Apply Winner to Campaign",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -432,
        48
      ]
    },
    {
      "parameters": {
        "jsCode": "const inputData = $('Extract Input').first().json;\nreturn {\n  test_id: inputData.test_id,\n  org_id: inputData.org_id,\n  variant: inputData.variant,\n  metric: inputData.metric,\n  value: inputData.value || 1,\n  updated_at: new Date().toISOString()\n};"
      },
      "id": "551d8bb3-7d1f-4680-ba89-ed0b02302680",
      "name": "Process Stats Update",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1024,
        256
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE ab_tests SET variant_a_stats = CASE WHEN '{{ $json.variant }}' = 'A' THEN jsonb_set(variant_a_stats, '{\"{{ $json.metric }}\"}', (COALESCE(variant_a_stats->>'{{ $json.metric }}', '0')::int + {{ $json.value }})::text::jsonb) ELSE variant_a_stats END, variant_b_stats = CASE WHEN '{{ $json.variant }}' = 'B' THEN jsonb_set(variant_b_stats, '{\"{{ $json.metric }}\"}', (COALESCE(variant_b_stats->>'{{ $json.metric }}', '0')::int + {{ $json.value }})::text::jsonb) ELSE variant_b_stats END, updated_at = NOW() WHERE id = '{{ $json.test_id }}' AND org_id = '{{ $json.org_id }}'",
        "options": {}
      },
      "id": "cde9d932-77dc-480b-be56-d1a11ac7eb03",
      "name": "Update Test Stats",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        -832,
        256
      ]
    },
    {
      "parameters": {
        "schema": "public",
        "table": "agent_actions",
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "agent_id": "ab_testing_agent",
            "org_id": "{{ $json.org_id }}",
            "action_type": "ab_test_action",
            "payload": "{{ JSON.stringify($json) }}",
            "state": "completed",
            "created_at": "{{ new Date().toISOString() }}"
          }
        },
        "options": {}
      },
      "id": "b64f1226-be44-4e76-8ec5-2b97188614c1",
      "name": "Log Agent Action",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        -224,
        -160
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "1fe9fddb-6b69-4d69-8034-41853427051e",
      "name": "Webhook Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        -32,
        -160
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Extract Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Input": {
      "main": [
        [
          {
            "node": "Route by Action",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route by Action": {
      "main": [
        [
          {
            "node": "Gemini - Create Test Plan",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Fetch Test Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Fetch Test for Winner",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Process Stats Update",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini - Create Test Plan": {
      "main": [
        [
          {
            "node": "Create Test Record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Test Record": {
      "main": [
        [
          {
            "node": "Save Test to DB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Test to DB": {
      "main": [
        [
          {
            "node": "Log Agent Action",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Test Data": {
      "main": [
        [
          {
            "node": "Gemini - Statistical Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini - Statistical Analysis": {
      "main": [
        [
          {
            "node": "Process Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Analysis": {
      "main": [
        [
          {
            "node": "Update Test Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Test Analysis": {
      "main": [
        [
          {
            "node": "Log Agent Action",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Test for Winner": {
      "main": [
        [
          {
            "node": "Declare Winner Logic",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Declare Winner Logic": {
      "main": [
        [
          {
            "node": "Update Winner in DB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Winner in DB": {
      "main": [
        [
          {
            "node": "Apply Winner to Campaign",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Apply Winner to Campaign": {
      "main": [
        [
          {
            "node": "Log Agent Action",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Stats Update": {
      "main": [
        [
          {
            "node": "Update Test Stats",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Test Stats": {
      "main": [
        [
          {
            "node": "Log Agent Action",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Agent Action": {
      "main": [
        [
          {
            "node": "Webhook Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "467fd162-c4c0-4978-9bd4-09e46c78d43d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "4bfc8889ec2187fc37d7288e02eb69c593cee63bbdada603ab968d162b57318a"
  },
  "id": "nQsRYu6gVFyGtjpv",
  "tags": []
}