Drafting Agent.json
{
  "name": "Drafting Agent",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "drafting-agent",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "4adba6fe-87db-4497-ba2e-fe7fc921a4d0",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        -976,
        -208
      ],
      "webhookId": "51aeab7d-a94b-4739-8db0-5d2df1163b4d"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body;\n\n// Validate required fields\nif (!body.lead_id) throw new Error('lead_id is required');\nif (!body.contact_name) throw new Error('contact_name is required');\nif (!body.company_name) throw new Error('company_name is required');\n\n// Truncate research summary if too long\nconst research_summary = body.research_summary || '';\nconst truncated_research = research_summary.length > 2000 ? \n  research_summary.substring(0, 2000) + '...' : research_summary;\n\nreturn [{\n  json: {\n    lead_id: body.lead_id,\n    contact_name: body.contact_name,\n    company_name: body.company_name,\n    job_title: body.job_title || '',\n    research_summary: truncated_research,\n    campaign_goal: body.campaign_goal || 'product demo',\n    tone: body.tone || 'professional',\n    validated: true,\n    timestamp: new Date().toISOString()\n  }\n}];"
      },
      "id": "7b42149d-75b6-43f5-8e09-00430f357d54",
      "name": "Validate Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -768,
        -208
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "31f394aa-34e0-46fd-bb22-44b9abc203d3",
      "name": "Rate Limit Delay",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        -592,
        -208
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-pro:generateContent",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "geminiApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"contents\": [{\n    \"parts\": [{\n      \"text\": \"You are an expert B2B email copywriter. Generate 3 different email subject line variants for outreach to:\\n\\nContact: {{ $json.contact_name }}\\nTitle: {{ $json.job_title }}\\nCompany: {{ $json.company_name }}\\nGoal: {{ $json.campaign_goal }}\\nTone: {{ $json.tone }}\\n\\nResearch Context:\\n{{ $json.research_summary }}\\n\\nCreate 3 subject lines with different approaches:\\n1. Value-focused\\n2. Curiosity-driven\\n3. Problem-solution\\n\\nFormat your response as JSON array with this structure:\\n[{\\\"variant\\\": 1, \\\"subject\\\": \\\"...\\\", \\\"approach\\\": \\\"value-focused\\\", \\\"score\\\": 85, \\\"reasoning\\\": \\\"...\\\"}]\\n\\nScore each subject line 0-100 based on likely effectiveness.\"\n    }]\n  }],\n  \"generationConfig\": {\n    \"temperature\": 0.8,\n    \"maxOutputTokens\": 600\n  },\n  \"safetySettings\": [\n    {\n      \"category\": \"HARM_CATEGORY_HARASSMENT\",\n      \"threshold\": \"BLOCK_MEDIUM_AND_ABOVE\"\n    }\n  ]\n}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "39918853-cbb3-4668-9da2-af5f03ab2b84",
      "name": "Gemini - Generate Subject Lines",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -448,
        -208
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-pro:generateContent",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "geminiApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"contents\": [{\n    \"parts\": [{\n      \"text\": \"You are an expert B2B email copywriter. Generate 3 different email body variants for outreach to:\\n\\nContact: {{ $json.contact_name }}\\nTitle: {{ $json.job_title }}\\nCompany: {{ $json.company_name }}\\nGoal: {{ $json.campaign_goal }}\\nTone: {{ $json.tone }}\\n\\nResearch Context:\\n{{ $json.research_summary }}\\n\\nCreate 3 email bodies (150-200 words each) with different approaches:\\n1. Direct value proposition\\n2. Story-based approach\\n3. Question-based engagement\\n\\nEach email should:\\n- Personalize based on research\\n- Have clear CTA\\n- Be concise and scannable\\n- Include specific value proposition\\n\\nFormat as JSON array:\\n[{\\\"variant\\\": 1, \\\"body\\\": \\\"...\\\", \\\"approach\\\": \\\"direct-value\\\", \\\"score\\\": 85, \\\"reasoning\\\": \\\"...\\\", \\\"cta\\\": \\\"...\\\"}]\\n\\nScore each 0-100 for effectiveness.\"\n    }]\n  }],\n  \"generationConfig\": {\n    \"temperature\": 0.8,\n    \"maxOutputTokens\": 1500\n  },\n  \"safetySettings\": [\n    {\n      \"category\": \"HARM_CATEGORY_HARASSMENT\",\n      \"threshold\": \"BLOCK_MEDIUM_AND_ABOVE\"\n    }\n  ]\n}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "267e6112-8ef3-483c-8488-85315ed723dd",
      "name": "Gemini - Generate Email Bodies",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -448,
        -16
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-pro:generateContent",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "geminiApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"contents\": [{\n    \"parts\": [{\n      \"text\": \"Create 2 LinkedIn connection message variants for:\\n\\nContact: {{ $json.contact_name }}\\nTitle: {{ $json.job_title }}\\nCompany: {{ $json.company_name }}\\nGoal: {{ $json.campaign_goal }}\\n\\nResearch Context:\\n{{ $json.research_summary }}\\n\\nEach message must be under 300 characters (LinkedIn limit). Be professional, personalized, and give a clear reason to connect.\\n\\nFormat as JSON:\\n[{\\\"variant\\\": 1, \\\"message\\\": \\\"...\\\", \\\"score\\\": 85, \\\"reasoning\\\": \\\"...\\\"}]\"\n    }]\n  }],\n  \"generationConfig\": {\n    \"temperature\": 0.7,\n    \"maxOutputTokens\": 500\n  },\n  \"safetySettings\": [\n    {\n      \"category\": \"HARM_CATEGORY_HARASSMENT\",\n      \"threshold\": \"BLOCK_MEDIUM_AND_ABOVE\"\n    }\n  ]\n}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "ae179686-5b23-4e43-9c45-d7dd5fb98aae",
      "name": "Gemini - LinkedIn Messages",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -448,
        192
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst inputData = $node['Validate Input'].json;\n\n// Parse Gemini responses with robust error handling\nlet subjects = [];\nlet bodies = [];\nlet linkedin = [];\n\n// Fallback templates\nconst fallbackSubjects = [\n  { variant: 1, subject: `Following up with ${inputData.company_name}`, approach: 'fallback', score: 50, reasoning: 'AI response failed - using fallback' },\n  { variant: 2, subject: `Opportunity for ${inputData.company_name}`, approach: 'fallback', score: 50, reasoning: 'AI response failed - using fallback' },\n  { variant: 3, subject: `Connecting with ${inputData.contact_name}`, approach: 'fallback', score: 50, reasoning: 'AI response failed - using fallback' }\n];\n\nconst fallbackBodies = [\n  { variant: 1, body: `Hi ${inputData.contact_name}, I wanted to connect regarding potential opportunities with ${inputData.company_name}.`, approach: 'fallback', score: 50, reasoning: 'AI response failed', cta: 'Schedule a call' }\n];\n\nconst fallbackLinkedIn = [\n  { variant: 1, message: `Hi ${inputData.contact_name}, I'd like to connect to discuss ${inputData.company_name}.`, score: 50, reasoning: 'AI response failed' }\n];\n\n// Find and parse each response\nfor (const item of items) {\n  if (item.json.candidates && item.json.candidates[0]) {\n    const responseText = item.json.candidates[0].content.parts[0].text;\n    \n    try {\n      const jsonMatch = responseText.match(/\\[[\\s\\S]*\\]/);\n      if (jsonMatch) {\n        const parsed = JSON.parse(jsonMatch[0]);\n        \n        // Determine which type based on structure\n        if (parsed[0] && parsed[0].subject) {\n          subjects = parsed;\n        } else if (parsed[0] && parsed[0].body) {\n          bodies = parsed;\n        } else if (parsed[0] && parsed[0].message) {\n          // Validate LinkedIn message length\n          linkedin = parsed.map(msg => ({\n            ...msg,\n            message: msg.message.length > 300 ? msg.message.substring(0, 297) + '...' : msg.message\n          }));\n        }\n      }\n    } catch (e) {\n      console.error('Parse error:', e);\n    }\n  }\n}\n\n// Use fallbacks if no data\nif (subjects.length === 0) subjects = fallbackSubjects;\nif (bodies.length === 0) bodies = fallbackBodies;\nif (linkedin.length === 0) linkedin = fallbackLinkedIn;\n\n// Create combinations of email drafts\nconst drafts = [];\nlet draftId = 1;\n\nfor (const subject of subjects.slice(0, 3)) {\n  for (const body of bodies.slice(0, 3)) {\n    drafts.push({\n      draft_id: `draft_${draftId++}`,\n      lead_id: inputData.lead_id,\n      channel: 'email',\n      subject: subject.subject,\n      body: body.body,\n      subject_approach: subject.approach,\n      body_approach: body.approach,\n      combined_score: Math.round((subject.score + body.score) / 2),\n      subject_reasoning: subject.reasoning,\n      body_reasoning: body.reasoning,\n      cta: body.cta,\n      character_count: body.body ? body.body.length : 0\n    });\n  }\n}\n\n// Add LinkedIn drafts\nfor (const msg of linkedin.slice(0, 2)) {\n  drafts.push({\n    draft_id: `draft_${draftId++}`,\n    lead_id: inputData.lead_id,\n    channel: 'linkedin',\n    message: msg.message,\n    score: msg.score,\n    reasoning: msg.reasoning,\n    character_count: msg.message ? msg.message.length : 0\n  });\n}\n\n// Sort by score\ndrafts.sort((a, b) => (b.combined_score || b.score || 0) - (a.combined_score || a.score || 0));\n\n// Calculate success rate\nconst successRate = {\n  subjects_parsed: subjects.length > 0,\n  bodies_parsed: bodies.length > 0,\n  linkedin_parsed: linkedin.length > 0,\n  total_drafts: drafts.length,\n  used_fallbacks: subjects === fallbackSubjects || bodies === fallbackBodies || linkedin === fallbackLinkedIn\n};\n\nreturn [{\n  json: {\n    lead_id: inputData.lead_id,\n    contact_name: inputData.contact_name,\n    company_name: inputData.company_name,\n    drafts: drafts,\n    top_draft: drafts[0] || {},\n    success_rate: successRate,\n    generated_at: new Date().toISOString()\n  }\n}];"
      },
      "id": "27c37145-a96e-4561-bbb5-57238660d1d6",
      "name": "Merge and Score Drafts",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -240,
        -16
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=INSERT INTO agent_actions (agent_id, lead_id, action_type, payload, state, created_at)\nVALUES (\n  'drafting_agent',\n  '{{ $json.lead_id }}',\n  'generate_drafts',\n  '{{ JSON.stringify($json.drafts) }}'::jsonb,\n  'pending_approval',\n  '{{ $json.generated_at }}'\n);",
        "options": {}
      },
      "id": "206b8b92-0b56-4079-ad8c-4cb0b6d6efcf",
      "name": "Save to Database",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        -48,
        -16
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.BACKEND_API_URL || 'http://localhost:3000' }}/api/notifications/draft-ready",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"lead_id\": \"{{ $json.lead_id }}\",\n  \"contact_name\": \"{{ $json.contact_name }}\",\n  \"draft_count\": {{ $json.drafts.length }},\n  \"top_score\": {{ $json.top_draft.combined_score || $json.top_draft.score || 0 }},\n  \"success_rate\": {{ JSON.stringify($json.success_rate) }}\n}",
        "options": {}
      },
      "id": "7fced2bd-4973-464f-bb06-60ce115929b3",
      "name": "Notify API - Drafts Ready",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        160,
        -16
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": true,\n  \"lead_id\": \"{{ $json.lead_id }}\",\n  \"drafts_generated\": {{ $json.drafts.length }},\n  \"top_draft\": {{ JSON.stringify($json.top_draft) }},\n  \"success_rate\": {{ JSON.stringify($json.success_rate) }},\n  \"generated_at\": \"{{ $json.generated_at }}\"\n}",
        "options": {}
      },
      "id": "84a88448-43b5-46b6-a56c-6b2355df51c0",
      "name": "Webhook Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        368,
        -16
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Validate Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Input": {
      "main": [
        [
          {
            "node": "Rate Limit Delay",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rate Limit Delay": {
      "main": [
        [
          {
            "node": "Gemini - Generate Subject Lines",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini - Generate Subject Lines": {
      "main": [
        [
          {
            "node": "Merge and Score Drafts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini - Generate Email Bodies": {
      "main": [
        [
          {
            "node": "Merge and Score Drafts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini - LinkedIn Messages": {
      "main": [
        [
          {
            "node": "Merge and Score Drafts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge and Score Drafts": {
      "main": [
        [
          {
            "node": "Save to Database",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save to Database": {
      "main": [
        [
          {
            "node": "Notify API - Drafts Ready",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notify API - Drafts Ready": {
      "main": [
        [
          {
            "node": "Webhook Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "404ba923-3def-4e62-8deb-ec998d91ca1b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "4bfc8889ec2187fc37d7288e02eb69c593cee63bbdada603ab968d162b57318a"
  },
  "id": "68mWqam7g0jBljnO",
  "tags": []
}